.bp-main-icon {
    background-image: url('project://database/Assets/_Game/Bundles/Shared/UIElements/1x/BPAtlas.png?fileID=1181110177&guid=d9a8e22c39221fb4dbf8c436032a3811&type=3#BPIcon_0');
}

.leader-pass-point-group{
    width: 100%;
}