.points-progress-bar .unity-progress-bar__container{
    max-height: 100px;
    height: 70px;
    width: 350px;
}

.points-progress-bar .unity-progress-bar__background {
    background-color: #2B3C3A;
    border-color: black;
    border-width: 3px;
    border-radius: 35px;
    overflow: hidden;
}

.points-progress-bar .unity-progress-bar__progress {
    background-color: #FF4D47;
    border-color: black;
    border-width: 3px;
    border-radius: 35px;
    margin: -3px;
}