<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTipwAJtmsBgMqtFm1xdCEbmAPUsb2hKw</string>
	<key>GCM_SENDER_ID</key>
	<string>357952553463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evolution.army</string>
	<key>PROJECT_ID</key>
	<string>the-army-evolution</string>
	<key>STORAGE_BUCKET</key>
	<string>the-army-evolution.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357952553463:ios:b8673520fcaaac6cd32ef2</string>
</dict>
</plist>